{# Cette  est une extension de layout.html.twig, en ouvrant les blocks définis dans la  mère on peut spécifier le code #}

{% extends "CoreBundle::layout.html.twig" %}

{% block body %}

<p>Parcours Pictural...</p>


<p>{{periode.titre}} {{periode.date}}</p>


    <div>
</br>

{# {% for oeuvre in oeuvres %}
{{ dump(oeuvre) }}
{% endfor %} #}

</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
        {% for sousPartie in sousParties %}
            {{ sousPartie.titre }} {{sousPartie.description }} 
</br>
</br>
            {% for oeuvre in oeuvres %}
        {{ oeuvre.image.chemin }}
                    {{ oeuvre.titre }} <img src="{{ asset('bundles/rbparcours/images/periode' ~ periode.id ~ '/' ~ oeuvre.image.chemin ~ '') }}" alt="{{ oeuvre.image.alt }}" width="60">
    
</br>
            {% endfor %}
        {% endfor %}
    </div>

{% endblock %}