{# Cette  est une extension de layout.html.twig, en ouvrant les blocks définis dans la  mère on peut spécifier le code #}

{% extends "CoreBundle::layout.html.twig" %}


{% block stylesheets %}

    <!----------------------- CSS ---------------------->
{% stylesheets filter='?scssphp' 'bundles/rbparcours/css/periode.css' %}
  <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
{% endstylesheets %}



{% endblock %}



{% block body %}


    <!----------------------- BLOC 1 : Titre ---------------------->

        <div class="titre">
            
            <div class="column1"> 
                <img src="{{ asset('bundles/rbparcours/images/periode' ~ periode.id ~ '/' ~ oeuvres|first.image.chemin ~ '') }}" alt="{{ oeuvres|first.image.alt }}"/>
            </div>

            <div class="column2">
                <h1>{{periode.titre}}</h1>
                <h2>{{periode.date}}</h2>
            </div>
        </div>


    <!----------------------- BLOC 2.1 : Sous-partie - Texte ---------------------->

{% for sousPartie in sousParties %}

        <div class="texte">
            <h2>{{ sousPartie.titre }}</h2>
            <p>{{sousPartie.description }}</p>
        </div>

    <!----------------------- BLOC 2.2 : Sous-partie - Oeuvres ---------------------->

        <div class="oeuvres"> 
    {% for oeuvre in oeuvres if oeuvre.sousPartie == sousPartie %}
                <a href="{{ path('RB_parcours_vue_oeuvre', {'id': oeuvre.id}) }}"><img src="{{ asset('bundles/rbparcours/images/periode' ~ periode.id ~ '/' ~ oeuvre.image.chemin ~ '') }}" alt="{{ oeuvre.image.alt }}"/></a>
    {% endfor %}
        </div>



{% endfor %}



{% endblock %}

