{# Cette  est une extension de layout.html.twig, en ouvrant les blocks définis dans la  mère on peut spécifier le code #}

{% extends "CoreBundle::layout.html.twig" %}

{% block stylesheets %}

<!----------------------- CSS ---------------------->
{% stylesheets filter='?scssphp' 'bundles/rbecrit/css/ecrit.css' %}
<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
{% endstylesheets %}

{% endblock %}

{% block body %}



<div class="list">
<h3 style="text-align: left;">Poèmes</h3>
	<ul>
		{% for poeme in poemes %}

		<li>
			<a href="{{ asset('bundles/rbecrit/textes/Poemes/' ~ poeme.chemin ~ '') }}" alt="{{ poeme.chemin }}"> {{ poeme.chemin }} </a>
		</li>

		{% endfor %}
	</ul>
</div>



<div class="list">
<h3 style="text-align: left;">Ecrits Théoriques</h3>
	<ul>
		{% for ecrit in ecrits %}

		<li>
			<a href="{{ asset('bundles/rbecrit/textes/Ecrits_Theoriques/' ~ ecrit.chemin ~ '') }}" alt="{{ ecrit.chemin }}"> {{ ecrit.chemin }} </a>
		</li>

		{% endfor %}
	</ul>
</div>



<div class="list">
<h3 style="text-align: left;">Romans et Nouvelles</h3>
	<ul>
		{% for roman in romans %}

		<li>
			<a href="{{ asset('bundles/rbecrit/textes/Romans_Nouvelles/' ~ roman.chemin ~ '') }}" alt="{{ roman.chemin }}"> {{ roman.chemin }} </a>
		</li>

		{% endfor %}
	</ul>
</div>


{% endblock %}
