

{#  {% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" />
  {% endblock %} #}

  <h3 style="text-align: center;">Contact</h3>


  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

  {# Les erreurs générales du formulaire. #}
  {{ form_errors(form) }}

  {#NOM#}
  {# Génération manuelle et éclatée : #}
  <div class="form-group">
    {# Génération du label. #}
    {{ form_label(form.nom, "Votre Nom", {'label_attr': {'class': 'control-label'}}) }}

    {# Affichage des erreurs pour ce champ précis. #}
    {{ form_errors(form.nom) }}
    {# Génération de l'input. #}
    {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}

  </div>

  {# EMAIL #}
  <div class="form-group">
    {{ form_label(form.email, "Votre adresse e-mail", {'label_attr': {'class': 'control-label'}}) }}
    {{ form_errors(form.email) }}
    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
  </div>

  {# TELEPHONE #}
  <div class="form-group">
    {{ form_label(form.telephone, "Votre téléphone", {'label_attr': {'class': 'control-label'}}) }}
    {{ form_errors(form.telephone) }}
    {{ form_widget(form.telephone, {'attr': {'class': 'form-control'}}) }}
  </div>

  {# OBJET #}
  <div class="form-group">
    {{ form_label(form.objet, "Objet", {'label_attr': {'class': 'control-label'}}) }}
    {{ form_errors(form.objet) }}
    {{ form_widget(form.objet, {'attr': {'class': 'form-control'}}) }}
  </div>

  {# MESSAGE #}
  <div class="form-group" >
    {{ form_label(form.message, "Votre message", {'label_attr': {'class': ' control-label'}}) }}
    {{ form_errors(form.message) }}
    {{ form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
  </div>


  {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
  <div class="envoyer">
    {{ form_widget(form.Envoyer, {'attr': {'class': 'btn btn-primary'}}) }}
  </div>

    {# Génération automatique des champs pas encore écrits.
    Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
    et tous les champs cachés (type « hidden »). #}
    {{ form_rest(form) }}

    {# Fermeture de la balise <form> du formulaire HTML #}
    {{ form_end(form) }}
