{# Accueil #}
{# Cette  est une extension de layout.html.twig, en ouvrant les blocks définis dans la  mère on peut spécifier le code #}

{% extends "CoreBundle::layout.html.twig" %}


    {% block stylesheets %}

    <!----------------------- CSS ---------------------->

{% stylesheets filter='cssrewrite, ?scssphp' 'bundles/core/css/accueil.css' %}
  <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
{% endstylesheets %}

    {% endblock %}


{% block body %}

    <!----------------------- BLOC 1 : Image full size ---------------------->

    <div class="imgfullsize">
        <img src="{{ asset('bundles/rbparcours/images/periode1/4.jpg') }}" alt="image_accueil"/>
    </div>


    <!----------------------- BLOC 2 : Biographie ---------------------->

    <div class="biographie">

        <div class="column1"> 
            <img src="{{ asset('bundles/core/Images/genevieve_cornu.jpg') }}" alt="genevieve_cornu" height="200" />
        </div>

        <div class="column2">
            <p> 
                Je suis née en terre quercynoise. Mes poèmes et mes peintures s’en nourrissent, sites rupestres, eaux profondes, bêtes et gens, vision empreinte de tendresse. Je suis née de Paris, la ville qui m’a aidée à penser et à grandir : découvertes à travers les musées, une initiation qui m’a tenu lieu d’Ecole des Beaux Arts. Comme tout enrichissement culturel, les voyages ouvrent en moi des sensations et des émotions inattendues. </br>
                La création m’a toujours intéressée. Institutrice, j’ai collecté des dessins d’enfants ; Universitaire, j’ai fondé ma recherche sur les questions liées à l’expression artistique. Mon autonomie matérielle assurait ma liberté pour mener cette aventure nécessaire, car je m’interrogeais souvent sur les raisons qui me guidaient selon les circonstances, de la peinture à la poésie.
            </p>
            <a href="{{path ('RB_biographie_home')}}" class="bouton">Lire la suite</a>
        </div>
    </div>


    <!----------------------- BLOC 3 : Parcours pictural ---------------------->

    <div class="parcourspictural">

        <a href="{{path ('RB_parcours_home')}}">
            <div>
                <h2>Parcours pictural</h2>
            </div>
        </a>

    </div>


    <!----------------------- BLOC 4 : Ecrits ---------------------->

    <div class="ecrits">

        <a href="{{path ('RB_ecrit_home')}}">
            <div>
                <h2>Poèmes</h2>
            </div>
        </a>

        <a href="{{path ('RB_ecrit_home')}}">
            <div>
                <h2>Romans & Nouvelles</h2>
            </div>
        </a>

        <a href="{{path ('RB_ecrit_home')}}">
            <div>
                <h2>Ecrits théoriques</h2>
            </div>
        </a>

    </div>

{% endblock %}