{# footer #}

    <!----------------------- FOOTER ---------------------->



        <!-- 3 colonnes -->
        <div class="column">
            <h3> Biographie </h3> </br>
                <img src="{{ asset('bundles/core/Images/genevieve_cornu.jpg') }}" alt="Geneviève Cornu" height="60px"/>
                <p> Je suis née en terre quercynoise. Mes poèmes et mes peintures s’en nourrissent, sites rupestres, eaux profondes, bêtes et gens, vision empreinte de tendresse. Je suis née de Paris, la ville qui m’a aidée à penser et à grandir. </p>
                <a href="{{path ('RB_biographie_home')}}"> Lire la suite ... </a> </br>
        </div>

        <div class="column">
            <h3> Parcours pictural </h3> </br>
            {{ render(controller("RBParcoursBundle:Parcours:menuPeriode", {'limit': 15})) }}
        </div>

        <div class="column">
            <h3> Ecrits </h3> </br>
                <a href="{{path ('RB_ecrit_home')}}"> Poèmes </a> </br>
                <a href="{{path ('RB_ecrit_home')}}"> Romans & Nouvelles </a> </br>
                <a href="{{path ('RB_ecrit_home')}}"> Ecrits théoriques </a> </br>
        </div>


        <!-- Mentions légales / Plan du site / Site réalisé par ... -->
        </br></br>
        <div class="autres">
            <a href="{{path ('core_mention')}}"> Mentions légales </a>
            <a href="{{path ('core_plan')}}"> Plan du site </a>
        </div>

        </br>
        <div class="realisation">
            <p> 
                Site réalisé par <a href="https://www.linkedin.com/in/romaric-beltran/"> Romaric BELTRAN</a> & <a href="https://www.linkedin.com/in/diana-portela/"> Diana PORTELA</a>
            </p>
        </div>
