{# head #}
    

    <!----------------------- CSS ---------------------->

{% stylesheets filter='?scssphp' 'bundles/core/css/header_footer.css' %}
  <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
{% endstylesheets %}



    <!----------------------- ADMINISTRATEUR ---------------------->

        <!-- apparait si connecté en tant qu'admin -->
        <!-- <div class="administrateur"> -->
            <!-- <p> Connecté en tant que Genevieve Cornu </p> -->
    
        <!-- href : pour le css redirige vers login directement -->
     <!--        
                <p> Se déconnecter </p>
            </a>
        </div> -->


    <!----------------------- HEADER ---------------------->

        <div class="header">
            <nav>

                <!-- Logo -->
                <ul class="logo">
                    <li>
                        <a href="{{path ('core_home')}}">
                            <img src="{{ asset('images/Logo_GC.png') }}" alt="Geneviève Cornu" height="40px"/>
                        </a>
                    </li>
                    <li>
                        <a href="{{path ('core_home')}}">
                            Geneviève Cornu </br>
                            Artiste picturale et écrivaine
                        </a>
                    </li>    
                </ul>

                <!-- Menu -->
                <ul class="menu">
                    <li>
                        <a href="{{path ('RB_biographie_home')}}">
                            Biographie 
                        </a>
                    </li>
                    
                    <li>
                        <a href="{{path ('RB_parcours_home')}}"> 
                            Parcours pictural 
                        </a>
                    </li>
                    
                    <li>
                        <a href="{{path ('RB_ecrit_home')}}"> 
                            Ecrits 
                        </a>
                    </li>
                    
                    <li>
                        <a href="{{path ('RB_contact_home')}}"> 
                            Contact 
                        </a>
                    </li>
                </ul>

            </nav>
        </div>