{# header #}   

<a href="{{path ('core_home')}}"><img src="{{ asset('images/Logo_GC.png') }}" alt="logo" height="50" /></a>

Geneviève Cornu

Citation

 <a href="{{path ('RB_biographie_home')}}" class="btn btn-default">
    <i class="glyphicon glyphicon-chevron-right"></i>
    Biographie
</a>

 <a href="{{path ('RB_parcours_home')}}" class="btn btn-default">
    <i class="glyphicon glyphicon-chevron-right"></i>
    Parcours Pictural
</a>

 <a href="{{path ('RB_ecrit_home')}}" class="btn btn-default">
    <i class="glyphicon glyphicon-chevron-right"></i>
    Ecrits
</a>

 <a href="{{path ('RB_contact_home')}}" class="btn btn-default">
    <i class="glyphicon glyphicon-chevron-right"></i>
    Contact
</a>